---
// src/pages/renungan/index.astro
import Card from "../../../components/ui/Card.astro";
import RenunganLayout from "../../../layouts/RenunganLayout.astro";
export const prerender = true;
---

<RenunganLayout
  title="Renungan Harian Mengerti Maksud Tuhan"
  description="Renungan harian untuk memperkuat iman">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
    <Card
      img="/images/banner/diberkati-tuhan.webp"
      altText="Seseorang sedang diberkati Tuhan"
      title="Berkat Sesungguhnya dari Tuhan"
      desc="Mengerti berkat sesungguhnya yang diberikan Tuhan. Semua berkat dari Tuhan menciptakan Kedamaian dan Kesejahteraan."
      labelBtn="Renungan"
      url="/renungan/mengerti-maksud-tuhan/berkat-sesungguhnya-dari-tuhan"
    />

    <Card
      img="/images/banner/memuliakan-tuhan-dengan-memandang-salib.webp"
      altText="Salib di padang rumput, menggambarkan makna salib Yesus"
      title="Makna Salib Yesus bagi Manusia"
      desc="mengerti makna salib Yesus dalam kehidupan sehari-hari, sehingga hidup kita selalu berkenan di hadapan Tuhan dan menjadi berkat."
      labelBtn="Renungan"
      url="/renungan/mengerti-maksud-tuhan/makna-salib-yesus"
    />

    <Card
      img="/images/banner/ayah-dan-anak.svg"
      altText="ayah dan anak perempuan adalah ciptaan Tuhan"
      title="Tujuan Manusia Diciptakan"
      desc="Mengerti tujuan Tuhan menciptakan manusia, sehingga hidup kita sesuai dengan rancangan Tuhan yang penuh Damai Sejahtera."
      labelBtn="Renungan"
      url="/renungan/mengerti-maksud-tuhan/tujuan-manusia-diciptakan"
    />

    <Card
      img="/images/banner/salib-ketenangan.svg"
      altText="Keadaan penuh ketenangan dengan gambar salib sebagai lambang maksud Tuhan"
      title="Maksud Tuhan dalam Kesesakan"
      desc="Intropeksi diri apakah kesesakan yang kita alami karena rancangan Tuhan atau kesalahan kita, sehingga dapat menemukan maksud Tuhan."
      labelBtn="Renungan"
      url="/renungan/mengerti-maksud-tuhan/maksud-tuhan-dalam-kesesakan"
    />
  </div>
</RenunganLayout>
