---
// src/pages/renungan/index.astro
import Card from '../../components/ui/Card.astro';
import RenunganLayout from '../../layouts/RenunganLayout.astro';
export const prerender = true;
---

<RenunganLayout
  title="Renungan Harian"
  description="Renungan harian untuk memperkuat iman">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
    <Card
      img="/images/banner/renungan-kristen-tuhan-pikul-salib.svg"
      altText="Yesus memikul salib sebagai bukti kasih allah"
      title="Kasih Karunia Allah"
      desc="Alkitab dengan jelas menyatakan bahwa keselamatan adalah anugerah, bukan karena usaha manusia"
      labelBtn="Baca Selengkapnya"
      url="/renungan/kasih-dan-damai-sejahtera/kasih-karunia-allah"
    />

    <Card
      img="/images/banner/salib-ketenangan.svg"
      altText="memberi karena kasih"
      title="Memberi Karena Kasih"
      desc="Dalam Alkitab dijelaskan bahwa kita harus memberi karena kasih bukan karena gengsi atau untuk investasi"
      labelBtn="Baca Selengkapnya"
      url="/renungan/kasih-dan-damai-sejahtera/memberi-karena-kasih"
    />
  </div>
</RenunganLayout>
