@import "tailwindcss";

/* Custom styles */
body {
  font-family: sans-serif;
}

/* Pastikan transform classes work */
.transform {
  transform: translateX(0);
}

.translate-x-\[-100\%\] {
  transform: translateX(-100%);
}