/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

main p,
main li {
  text-align: justify;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}

main ol li {
  padding-left: 4px;
}

main ol li::marker {
  font-weight: 500; /* Membuat angka menjadi tebal */
}

strong,
b {
  font-weight: 500;
}

/* Prevent text selection */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/* Prevent dragging images */
img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}

/* Prevent highlight */
::selection {
  background: transparent;
}

/* Prevent screenshot overlay */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.002); /* Transparan */
  z-index: 99999;
  pointer-events: none;
}
